body {
  margin: 0;
  background-color: rgb(100, 100, 100);
}

canvas {
  position: relative;
  background-color: rgb(0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0.719);
  border-radius: 10px;
  margin: 0;
  margin-left: 19px;
  margin-top: 19px;
}

.controlBar {
  /* border: 1px solid rgba(255, 255, 255, 0.719); */

  position: relative;
  margin: 0;
  height: 300px;
  /* width: auto; */
}

.text {
  font-size: 50px;
  font-family: "Brush Script MT", cursive;
  margin-left: 20%;
  color: rgb(129, 3, 3);
  font-weight: bold;
}

.buttonOut {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 20px;
  right: 70px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-image: url(images/button.png);
  background-size: cover;
  z-index: 2;
}

.buttonIn {
  visibility: hidden;
  position: absolute;
  height: 100px;
  width: 100px;
  top: 20px;
  right: 70px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  background-image: url(images/buttonClicked.png);
  background-size: cover;
  z-index: 3;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #000000;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}

.sliderVelContainer {
  position: absolute;
  top: 0px;
  right: 250px;
  left: 10%;
}

.sliderNumContainer {
  position: absolute;
  top: 60px;
  right: 250px;
  left: 10%;
}

.sliderSizeContainer {
  position: absolute;
  top: 120px;
  right: 250px;
  left: 10%;
}
